
table th {
    background-color: #FF9999;
    padding: 10px 40px;
}

table td {
    background-color: #f9ecd5;
    padding: 10px 20px;
}

.notice {
    background-color: #ccf;
    padding: 5px;
}
.title {
    background-color : #FF3333;
    padding: 15px;
    color: white;
}

.footer {
    font-size: 40px;
    font-weight: bold;
    background-color : #FF3333;
    padding: 15px;
    color: white;
}